* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.meditation-container {
    margin-left: 90px;
}
.meditation-head-container{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.meditation-head-info{
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 2%;
    margin-top: 2%;
    margin-left: 4%;
}
.meditation-head-info .heading{
    margin-top: -5px;
    margin-bottom: 2%;
}
.meditation-head-info button{
    width: 150px;
    height: 49px;
    border: none;
    outline: none;
    border-radius: 49px;
    cursor: pointer;
    background-color: #8a65af;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px 0;
    transition: .5s;
}
.meditation-head-info button:hover {
    background-color: #aa8ac8;
}
.meditation-head-container img{
    margin-right: 5%;
}

.box-container {
    height: 80vh;
}
.box-container .box {
    background-color: rgb(255, 255, 255);
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.inner-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    letter-spacing: 1px;
    line-height: 30px;
    text-align: center;
    height: 100vh;
    width: 50%;
    padding: 6%;
    color: black;
}
.inner-box p {
    text-decoration: none;
    color: black;
    font-size: large;
}
.inner-box button{
    width: 150px;
    height: 49px;
    border: none;
    outline: none;
    border-radius: 49px;
    cursor: pointer;
    background-color: #53a162;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px 0;
    transition: .5s;
}
.inner-box button:hover {
    background-color: #69ce7d;
}
.box img{
    height: 400px;
    width: 400px;
}
