* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.meditation-container {
    margin-left: 90px;
}
.meditation-head-container{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.meditation-head-info{
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 2%;
    margin-top: 2%;
    margin-left: 4%;
}
.meditation-head-info .heading{
    margin-top: -5px;
    margin-bottom: 2%;
}
.meditation-head-info button{
    width: 150px;
    height: 49px;
    border: none;
    outline: none;
    border-radius: 49px;
    cursor: pointer;
    background-color: #8a65af;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px 0;
    transition: .5s;
}
.meditation-head-info button:hover {
    background-color: #aa8ac8;
}
.meditation-head-container img{
    margin-right: 5%;
}

.box-container {
    height: 50vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    /* background-color: #a600ff; */
}

.box {
    background-color: rgb(255, 255, 255);
    height: 90%;
    width: 18%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
.box:hover{
    transform: scale(1.05);
}

.box img{
    height: 250px;
    width: 250px;
}
.box p{
    text-decoration: none;
    color: black;
    font-size: large;
}