.select-music-container{
    height: 99.5vh;
    width: 350px;
    position: absolute;
    top: 0%;
    right: 0%;
    background-color:#fafafa;
    padding: 2%;
    z-index: 1;
    
}
.select-music-container .music-heading{
    margin-left: 5%;
    margin-bottom: 2%;
    padding-bottom: 6%;
    font-size: large;
    letter-spacing: 1.5px;
    border-bottom: 1px solid black;
}
.unselect-music-container{
    display: none;
}
.music-container{
    display: grid;
    grid-template-columns: 20% 80%;
    align-items: center;
    padding-left: 5%;
    height: 10%;
    margin-bottom: 2%;
    cursor: pointer;
}
.music-container:hover{
    transform: scale(1.05);
}