.home-component{
  margin-left: 90px;
}

h1 {
    margin-top: 60px;
    margin-bottom: 0;
    text-align: center;
    font-size: 40px;
    font-weight: bolder;
}

.first-section {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px 40px;
}

.first-section-image {
    max-width: 45%;
}

.first-section-image img{
    max-width: 100%;
    height: auto;    
    /* border-radius: 8px; */
}
  

.first-section-text {
    max-width: 45%;
    padding: 1em ;
}

.first-section-text p{
    /* font-size: 2.1em; */
    color: #333333; /* Darker for readability */
    margin-bottom: 2em;
    margin-top: 1em;
    line-height: 1.5; /* Improved line spacing */
    /* font-style: italic; */
}

.first-section-text button {
    background-color: black; /* Theme color */
    color: white;
    border: none;
    /* padding: 0.75em 1.5em; */
    padding: 10px 20px;
    border-radius: 5px;
    /* font-size: 1.7em; */
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;   
}

.first-section-text button:hover {
    background-color: grey; /* Darker shade on hover */
    transform: translateY(-2px);
  }

  .grey {
    background-color: grey;
  }


/* referecne */

  /* Responsive Design for smaller screens */
  @media (max-width: 768px) {
    .journaling-section {
      flex-direction: column-reverse; /* Image above text */
      text-align: center;
    }
  
    .journaling-text, .journaling-image {
      max-width: 100%;
    }
  }