.footer-container{
    margin-left: 90px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    height: 40vh;
    background-color:#e3e3e3;
    letter-spacing: 0.5px;
}
.footer-left-side{  
    display: flex;
    flex-direction: row;
    /* background-color: antiquewhite; */
    align-items: center;
    text-align: left;
    justify-content: center;
    padding: 3%;
    width: 70%;
}
.footer-left-heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer-left{
    display: flex;
    flex-direction: column;
    border-left: 5px solid rgb(150, 148, 148);
    border-radius: 2px;
    /* background-color: aqua; */
    padding-left: 3%;
    margin-left: 4%;
    width: 100%;
}
.footer-left-navs{
    display: grid;
    grid-template-columns: 20% 20% 30%;
    margin-bottom: 4%;
    font-size: large;
    gap: 0% 0% 5% 0%;
}
.item{
    padding-top: 5%;
    text-decoration: none;
    color: rgb(35, 35, 35);
}
.footer-right-side{
    display: flex;
    flex-direction: row;
    gap: 10%;
    margin-right: 5%;
}
.footer-right-side img{
    height: 40px;
    margin-top: 15%;
    margin-bottom: 7%;
    cursor: pointer;
}
.footer-right{
    margin-left: -10%;
    color: rgb(35, 35, 35)
}