.reports-component{
    margin-left: 40px;
}

.yoga-pose-progress {
    height: 80vh;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    letter-spacing: 1px;
}

.poses {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 0px 10px 0px 15px;
    height: 100px;
    width: 130px;
    border-radius: 15px;
    background-color: rgb(244, 244, 244);
    cursor: pointer;
}

.select-pose {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.selected {
    background-color: #8884d8;
    color: white;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
    font-size: large;
}