.chart-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    letter-spacing: normal;
    margin-top: 40px;
}
.chart-container p{
    margin-bottom: 30px;
    letter-spacing: 1px;
    font-size: large;
}

.heatmap-container{
    width: 100%;
    height: 20vh;
}
/* MeditationChart.css */

.custom-container{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 3%;
  margin-bottom: 7%;
}
.heatmap-button {
  padding: 2%;
  font-size: xx-large;
  background: none;
  cursor: pointer;
  margin: 0% 2%;
}
/* Define CSS classes for color-coding the heatmap */
.color-empty {
  fill: #ebedf0;
  /* Light grey for empty cells */
}

.color-no-contribution {
  fill: #ebedf0;
  /* Light grey for cells with no contributions */
}

.color-low-contribution {
  fill: #c6e48b;
  /* Light green for cells with low contributions */
}

.color-medium-contribution {
  fill: #7bc96f;
  /* Medium green for cells with medium contributions */
}

.color-high-contribution {
  fill: #239a3b;
  /* Dark green for cells with high contributions */
}
.custom-meditation-container{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 3%;
}