.meditation-timer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
}

.circle {
    position: relative;
    width: 250px;
    height: 250px;
    margin-top: 2%;
}

.svg {
    width: 100%;
    height: 100%;
}

.progress-ring {
    stroke: #dddddde3;
    stroke-width: 2;
    fill: none;
}

.progress-circle {
    fill: white;
    stroke: rgba(255, 120, 71, 0.696);
    stroke-width: 3;
    stroke-linecap: round;
    transform-origin: center;
    transition: stroke-dashoffset 1s linear;
}

.meditation-timer-input{
    text-align: center;
    font-size: large;
    display: flex;
    flex-direction: row;
    align-items: first baseline;
    justify-content: space-evenly;
}
.meditation-timer-input input{ 
    background-color: white;
    width: 20%;
    text-align: center;
    border: 1px solid gray;
    border-radius: 5px;
    margin-top: 10px;
    font-size: medium;
    padding-left: 10px;
    margin-left: -11%;
}
input
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.meditation-timer-settings{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 50%;
}

.meditation-timer-settings .buttons{
    padding: 15px 20px;
    border-radius: 10px;
    font-size: large;
    background-color: #8e3396;
    color: white;
    cursor: pointer;
    margin-top: 13%;
}
.timer-display {
    position: absolute;
    top: 40%;
    left: 50%;
    font-size: 24px;
    font-weight: 600;
}


