*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
.tree-container{
    margin-left: 90px;
}
.tree-head{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: first baseline;
    gap: 5%;
    letter-spacing: 2px;
    background-color: rgb(246, 246, 246);
    padding-top: 2%;
    padding-bottom: 1%;
    box-shadow: 0 1px 35px rgba(86, 86, 86, 0.155)
}
.tree-head-left{
    text-align: right;
}
.tree-head-left h1{
    font-weight: 600;
}
.tree-head-left button{
    width: 150px;
    height: 49px;
    border: none;
    outline: none;
    border-radius: 49px;
    cursor: pointer;
    background-color: #8e3396;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px 0 20px 0;
    transition: .5s;
}
.tree-video{
    text-align: center;
}
.tree-instructions {
    margin-top: 1%;
    width: 90%;
    margin-left: 5%;
    letter-spacing: 0.5px;
    line-height: 53px;
    font-size: large;
}