.monthlygoals-container{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}
.monthlygoals-head{
    display: grid;
    grid-template-columns: 40% 60%;
}
.monthlygoals-head input{
    padding: 10% 45%;
    margin-right: 30%;
}
.monthlygoals-head button{
    padding: 10%;
    margin-top: 10%;
    border-radius: 10%;
    background-color: rgb(28, 28, 28);
    color: white;
    cursor: pointer;
}
.delete-button{
    cursor: pointer;
    margin-left: 10%;
    margin-top: 5%;
    color: rgb(91, 91, 91);
}
.goals-row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 30px;
}
.ul{
    list-style-type: none;
    margin-top: 5%;
}
.li{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}